{
  "preamble": {
    "title": "cardano2vn/cip68generator",
    "description": "Aiken contracts for project 'cardano2vn/cip68generator'",
    "version": "0.0.0",
    "plutusVersion": "v3",
    "compiler": {
      "name": "Aiken",
      "version": "v1.1.0+unknown"
    },
    "license": "Apache-2.0"
  },
  "validators": []
}