@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --section: 223 15% 9%;
    --background: 228 16% 6%;
    --foreground: 334 34% 98%;
    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;
    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;
    --card: 220 14% 13%;
    --card-foreground: 334 34% 98%;
    --border: 220 13% 18%;
    --input: 214.29 5.04% 27.25%;
    --primary: 25 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 13% 61%;
    --secondary-foreground: 334 0% 100%;
    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 25 100% 64%;
    --destructive: 6 92% 63%;
    --destructive-foreground: 0 0% 0%;
    --ring: 217.5 9.09% 17.25%;
    --radius: 0.5rem;
  }
  /* Scrollbar trên Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
